body{
    background-color: darkgray;
    margin: 0;
}

.feedTitle {
    background-color: white;
    text-align: center;
    padding: 5px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

.Post {
    width: 520px;
    margin: 30px auto;
    background-color: white;
}

.Post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;   
}

.Post-header h2 {
    margin: 0;
}
    
.Post-image img{
    width: 100%;
    display: block;  
}

.Post-footer {
    padding: 5px;
}